body {
  font-family: Poppins;
}
.header {
  display: flex;
  flex-direction: column;
}
.header-top {
  width: 100%;
  padding: 10px;
  background: rgba(237, 242, 238, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(43, 87, 46, 1);
  font-weight: 400;
  font-size: 12px;
}
.header-top-frame,
.header-bot-frame {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-frame-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-top-frame-right {
  display: flex;
  gap: 15px;
}
.header-top-frame-right-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.header-bot {
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  padding: 20px 0px 20px 10px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bot-frame-left {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.header-bot-frame-left-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(26, 26, 26, 1);
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.header-bot-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bot-middle__logo {
  width: 100%;
}
.header-bot-right-r__img {
  width: 100%;
  cursor: pointer;
}
.header-bot-right-l__img {
  cursor: pointer;
}
.header-bot-right {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}
.header-bot-right-l {
  align-items: center;
  display: flex;
  gap: 5px;
}
.header-bot-right-r {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bg {
  /* padding-top: 200px; */
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
}
.bg-img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-img img {
  width: 100%;
}
.bg-img-container {
  position: absolute;
  width: 80vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 5% 90% 5%;
}
.bg-img-container-item {
  display: flex;
  gap: 20px;
}

.bg-img-container-item-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg-img-container-item-right__welcome {
  color: rgba(0, 178, 7, 1);
  font-weight: 500;
  font-size: 14px;
}
.bg-img-container-item-right__h1 {
  color: rgba(26, 26, 26, 1);
  font-weight: 600;
  font-size: 72px;
}
.bg-img-container-item-right__sale {
  padding: 20px 0 5px 0;
  font-weight: 400;
  font-size: 32px;
  color: rgba(26, 26, 26, 1);
  span {
    font-weight: 600;
    font-size: 32px;
    color: rgba(255, 138, 0, 1);
  }
}
.bg-img-container-item-right__free {
  color: rgba(128, 128, 128, 1);
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 20px 0;
}
.bg-img-container-item-right-btn {
  background: rgba(0, 178, 7, 1);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
}
.bg-img-container-item-right-btn {
  cursor: pointer;
  display: flex;
  gap: 15px;
  width: 160px;
  height: 48px;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }
}
.bg-img-container-item-right-btn-img {
  width: 15px;
  height: 12px;
}
.bg-img-container-right {
  cursor: pointer;
  width: 3vw;
  height: 3vh;
}
.bg-img-container-left {
  cursor: pointer;
  width: 3vw;
  height: 3vh;
}
