body {
  font-family: Poppins;
}

.margin1 {
  .margin1-small {
    display: flex;
    justify-content: space-between;
    background: #333333;
    padding: 10px 14vw;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 12px;
    .margin1-small-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .margin1-small-links {
      display: flex;
      align-items: center;
      gap: 20px;
      hr {
        width: 15px;
        height: 1px;
        background: #b3b3b3;
        rotate: -90deg;
      }
    }
    .margin1-small-links-change {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        cursor: default;
      }
    }
    #language,
    #price,
    .margin1-small-links-change__text,
    .margin1-small-links-change__img {
      cursor: pointer;
    }
    .margin1-small-links-change__text:hover {
      color: #d5d3d3;
    }
  }
  .margin1-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 25px 14vw;
    box-shadow: 0px -1px 0px 0px #e5e5e5 inset;
    .margin1-middle-frame__img {
      width: 100%;
    }
    .margin1-middle-search {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .margin1-middle-search__inp {
      width: 500px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 10px 40px;
      font-size: 14px;
    }
    .margin1-middle-search-frame {
      position: absolute;
      left: 10px;
    }
    .margin1-middle-search__btn {
      position: absolute;
      right: 0;
      background: #00b207;
      height: 45px;
      width: 98px;
      border-radius: 0 5px 5px 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 14px;
      &:hover {
        background: #2c742f;
      }
    }
    .margin1-middle-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      hr {
        background: #cccccc;
        width: 24px;
        height: 1px;
        rotate: -90deg;
      }
      img {
        cursor: pointer;
      }
    }
    .margin1-middle-icons-shopping {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .margin1-middle-icons-shopping-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .margin1-middle-icons-shopping-info__text {
      color: #4d4d4d;
      font-weight: 400;
      font-size: 11px;
    }
    .margin1-middle-icons-shopping-info__price {
      color: #1a1a1a;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .margin1-navlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 14vw;
    .margin1-navlinks-links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .margin1-navlinks-links-tripoloski {
      img {
        display: none;
        width: 20px;
        height: 20px;
      }
    }
    .margin1-navlinks-links-ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
    }
    .margin1-navlinks-links-ul-li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: #666666;
      font-weight: 500;
      font-size: 14px;
      &:hover {
        color: #00b207;
        .margin1-navlinks-links-ul-li__img {
          background-image: url("/img/chevronDownHover.png");
        }
      }
    }
    .margin1-navlinks-links-ul-li__img {
      background-image: url("/img/chevronDown.png");
      width: 16px;
      height: 16px;
    }
    .margin1-navlinks-call {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #1a1a1a;
      font-weight: 500;
      font-size: 14px;
    }
    .margin1-navlinks-call-frame__img {
      width: 100%;
    }
  }
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 14vw;
  background: linear-gradient(
    90.02deg,
    rgba(0, 0, 0, 0.7) 0.03%,
    rgba(0, 0, 0, 0) 91.31%
  );
  background-image: url("/img/BGBreadcrumbs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .breadcrumbs-location {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    span {
      color: #00b207;
    }
  }
  .breadcrumbs-location__imgchevron {
    rotate: -90deg;
  }
}
.product {
  display: flex;
  flex-direction: column;
  padding: 0 14vw;

  .product-top {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .product-top-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      background: #00b207;
      width: 130px;
      border-radius: 45px;
      color: #ffffff;
      font-weight: 600;
      font-size: 14px;
      &:hover {
        background: #2c742f;
      }
    }
    .product-top-filter {
      padding-left: 12.5vw;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product-top-filter-left {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      color: #808080;
      font-weight: 400;
      font-size: 14px;
    }
    .product-top-filter-left-input {
      position: relative;
      img {
        position: absolute;
        right: 10px;
        top: 12px;
      }
    }
    .product-top-filter-left-input-inp {
      padding: 10px 30px 10px 15px;
      width: 226px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 14px;
      color: #4d4d4d;
      font-weight: 400;
    }
    .product-top-filter-right {
      display: flex;
      color: #808080;
      font-weight: 400;
      font-size: 14px;
      span {
        color: #232323;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .product-container {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;

    .product-container-dropdown {
      display: none;
      flex-direction: column;
      padding-right: 40px;
    }
    /* .product-top-btn:focus {
      background-color: #1a1a1a;
      .product-container-dropdown {
        display: flex;
      }
    } */

    .product-container-dropdown-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5;
    }

    .product-container-dropdown-container-name {
      display: flex;
      align-items: center;
      gap: 8vw;
      h1 {
        width: 150px;
        color: #1a1a1a;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .product-container-dropdown-container-allcateg {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        width: 20px;
        height: 20px;
      }
    }
    .product-container-dropdown-container-allcateg__name {
      color: #1a1a1a;
      font-weight: 400;
      font-size: 14px;
    }
    .product-container-dropdown-container-allcateg__countAll {
      color: #808080;
      font-weight: 400;
      font-size: 14px;
    }
    .product-container-dropdown-container-allcateg__count {
      color: #808080;
      font-weight: 400;
      font-size: 14px;
    }
    .product-container-dropdown-container-ranger {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        color: #4d4d4d;
        font-size: 14px;
      }
      span {
        color: #1a1a1a;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .product-container-dropdown-container-ranger-slider {
      background: #e5e5e5;
      height: 6px;
      width: 312px;
      position: relative;
    }
    .product-container-dropdown-container-ranger-slider-progress {
      background: #00b207;
      height: 6px;
      left: 15%;
      right: 15%;
      position: absolute;
    }
    .product-container-dropdown-container-ranger-slider-input {
      position: relative;
      input {
        position: absolute;
        top: 0px;
        height: 6px;
        width: 100%;
        background: none;
        -webkit-appearance: none;
        pointer-events: none;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #ffffff;
        border: 2px solid #00b207;
        border-radius: 50px;
        height: 20px;
        width: 20px;
        pointer-events: auto;
      }
    }
    .product-container-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 20px;
    }
    .product-container-items-prod {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .product-container-items-prod-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      &:hover {
        border: 1px solid #2c742f;
        box-shadow: 0px 0px 12px 0px #20b52652;
        .product-container-items-prod-card-frame-hover {
          display: flex;
        }
        .product-container-items-prod-card-info-left__name {
          color: #2c742f;
        }
        .product-container-items-prod-card-info-right-frame {
          background-image: url("/img/Add\ To\ Cart\ Hover.png");
        }
      }
    }
    .product-container-items-prod-card-frame {
      position: relative;
    }
    .product-container-items-prod-card-frame-properties {
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .product-container-items-prod-card-frame-hover {
      display: none;
      position: absolute;
      right: 20px;
      top: 20px;
      flex-direction: column;
      gap: 10px;
    }
    .product-container-items-prod-card-frame-hover-frameheart {
      background-image: url("/img/Add\ To\ wishlist.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      &:hover {
        background-image: url("/img/Add\ To\ wishlist Hover.png");
      }
    }
    .product-container-items-prod-card-frame-hover-frameview {
      background-image: url("/img/Quick\ View.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      &:hover {
        background-image: url("/img/Quick\ View Hover.png");
      }
    }
    .product-container-items-prod-card-frame__img {
      width: 100%;
      border-radius: 10px;
    }
    .product-container-items-prod-card-info {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }
    .product-container-items-prod-card-info-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      span {
        color: #cccccc;
      }
    }
    #orangeSpan {
      color: #ff8a00;
    }
    .product-container-items-prod-card-info-left__name {
      color: #4d4d4d;
      font-weight: 400;
      font-size: 14px;
    }
    .product-container-items-prod-card-info-left__price {
      color: #1a1a1a;
      font-weight: 500;
      font-size: 16px;
    }
    .product-container-items-prod-card-info-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .product-container-items-prod-card-info-right-frame {
      background-image: url("/img/Add\ To\ Cart.png");
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.subscribe {
  padding: 45px 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;

  .subscribe-frameleft {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
      color: #1a1a1a;
      font-weight: 600;
      font-size: 24px;
    }
    p {
      color: #999999;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }
  .subscribe-frameright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .subscribe-frameright-framemiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-left: 200px; */
  }
  .subscribe-frameright-framemiddle__inp {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    width: 536px;
    font-size: 16px;
    padding: 15px 20px;
  }
  .subscribe-frameright-framemiddle__btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    background: #00b207;
    height: 55px;
    width: 160px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    &:hover {
      background: #2c742f;
    }
  }
  .subscribe-frameright-frameright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .subscribe-frameright-frameright__imgf {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("/img/Media=Facebook\,\ Status=\ False.png");
    &:hover {
      background-image: url("/img/Media=Facebook\,\ Status=\ True.png");
    }
  }
  .subscribe-frameright-frameright__imgt {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("/img/Media=Twitter\,\ Status=\ False.png");
    &:hover {
      background-image: url("/img/Media=Facebook\,\ Status=\ True.png");
    }
  }
  .subscribe-frameright-frameright__imgp {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("/img/Media=Pinterest\,\ Status=\ False.png");
    &:hover {
      background-image: url("/img/Media=Facebook\,\ Status=\ True.png");
    }
  }
  .subscribe-frameright-frameright__imgi {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("/img/Media=Instagram\,\ Status=\ False.png");
    &:hover {
      background-image: url("/img/Media=Facebook\,\ Status=\ True.png");
    }
  }
}
.footer {
  padding: 0 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1a1a1a;
  color: #808080;
  font-weight: 400;
  font-size: 14px;

  .footer-fotter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 0;
  }
  .footer-fotter-company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    p {
      line-height: 150%;
    }
  }
  .footer-fotter-company-frame__img {
    width: 100%;
  }
  .footer-fotter-company-call {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    p {
      box-shadow: 0px 1.5px 0px 0px #20b526;
      color: #ffffff;
      font-weight: 500;
      line-height: 250%;
    }
  }
  .footer-fotter-lists {
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    gap: 7.5vw;
    align-items: center;
    h1 {
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      padding-bottom: 20px;
    }
  }
  .footer-fotter-lists-item {
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    li:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
  .footer-copyright {
    padding: 20px 0;
    box-shadow: 0px -1px 0px 0px #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
  }
  .footer-copyright-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
@media (max-width: 1800px) {
  .product {
    & .product-top {
      & .product-top-filter {
        padding-left: 13.5vw;
      }
    }
  }
}
@media (max-width: 1700px) {
  .product {
    & .product-top {
      & .product-top-filter {
        padding-left: 14vw;
      }
    }
  }
}
@media (max-width: 1500px) {
  .product {
    & .product-top {
      & .product-top-filter {
        padding-left: 16vw;
      }
    }
  }
}
@media (max-width: 1440px) {
  .footer {
    .footer-fotter-lists {
      gap: 2vw;
    }
  }
}
@media (max-width: 1024px) {
  .margin1 {
    .margin1-small {
      padding: 10px 8vw;
    }
    .margin1-middle {
      padding: 10px 8vw;
    }
    .margin1-navlinks {
      padding: 10px 8vw;
    }
    & .margin1-middle {
      .margin1-middle-search__btn {
        height: 30px;
        width: 98px;
      }
      .margin1-middle-search__inp {
        width: 300px;
        height: 30px;
      }
    }
  }
  .breadcrumbs {
    padding: 50px 8vw;
  }
  .product {
    padding: 0 8vw;
    & .product-top {
      display: flex;
      gap: 150px;
      width: 100%;
      justify-content: space-between;
      & .product-top-filter {
        padding-left: 0vw;
      }
    }
    & .product-container {
      display: block;
      .product-container-items-prod-card {
        width: 200px;
        align-items: center;
      }
      .product-container-dropdown {
        justify-content: center;
        flex-direction: row;
        gap: 20px;
      }
      .product-container-dropdown-container {
        display: flex;
      }
      .product-container-items {
        justify-content: center;
        align-items: center;
      }
      .product-container-items-prod-card-frame__img {
        border-radius: 10px;
      }
      .product-container-items-prod-card-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .product-container-items-prod-card-info-left {
        align-items: center;
        justify-content: center;
      }
      .product-container-items-prod-card-info-right {
        justify-content: center;
      }
    }
  }
  .subscribe {
    padding: 25px 8vw;
    .subscribe-frameright-framemiddle__inp {
      width: 336px;
    }
    .subscribe-frameright-framemiddle__btn {
      height: 54px;
      width: 100px;
      color: #ffffff;
      font-weight: 600;
      font-size: 12px;
    }
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .margin1 {
    .margin1-small {
      padding: 10px 4vw;
    }
    .margin1-middle {
      padding: 10px 4vw;
    }
    .margin1-navlinks {
      padding: 10px 4vw;
    }
    & .margin1-middle {
      .margin1-middle-search__btn {
        height: 30px;
        width: 98px;
      }
      .margin1-middle-search__inp {
        width: 300px;
        height: 30px;
      }
    }
    & .margin1-navlinks {
      .margin1-navlinks-links-tripoloski img {
        width: 30px;
        height: 30px;
        display: flex;
      }
      .margin1-navlinks-links-ul {
        display: none;
      }
    }
  }
  .breadcrumbs {
    padding: 20px 8vw;
  }
  .product {
    padding: 0 4vw;
    & .product-top {
      display: flex;
      gap: 150px;
      width: 100%;
      justify-content: space-between;
      & .product-top-filter {
        padding-left: 0vw;
      }
    }
  }
  .subscribe {
    padding: 25px 4vw;
    .subscribe-frameright-framemiddle__inp {
      width: 336px;
    }
    .subscribe-frameright-framemiddle__btn {
      height: 54px;
      width: 100px;
      color: #ffffff;
      font-weight: 600;
      font-size: 12px;
    }
  }
  .footer {
    padding: 0 4vw;
    font-size: 10px;
  }
}
/* @media (max-width: 1440px) {
  .product {
    .product-top {
      .product-top-filter {
        padding-left: 16.5vw;
      }
    }
  }
}
@media (max-width: 1412px) {
  .product {
    .product-top {
      .product-top-filter {
        padding-left: 19.5vw;
      }
    }
  }
  .margin1 {
    .margin1-middle {
      .margin1-middle-frame__img {
        width: 100%;
      }
      .margin1-middle-search__inp {
        width: 400px;
      }
    }
  }
  .subscribe {
    .subscribe-frameright-framemiddle__inp {
      width: 436px;
    }
  }
  .footer {
    .footer-fotter-lists {
      display: flex;
      justify-content: space-between;
      padding: 0 4vw;
      gap: 2.5vw;
      align-items: center;
    }
  }
}
@media (max-width: 1120px) {
  .product {
    .product-top {
      .product-top-filter {
        padding-left: 10.5vw;
      }
    }
    .product-container {
      .product-container-dropdown-container-ranger-slider {
        width: auto;
        .product-container-dropdown-container {
          width: 200px;
          .product-container-dropdown-container-name {
            gap: 0px;
          }
        }
      }
    }
  }
  .margin1 {
    .margin1-navlinks {
      .margin1-navlinks-call {
        font-size: 10px;
      }
      .margin1-navlinks-links-ul-li {
        font-size: 12px;
        align-items: normal;
      }
      .margin1-navlinks-links-ul-li__img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 10px;
        width: 10px;
      }
    }
    .margin1-middle {
      .margin1-middle-frame__img {
        width: 80%;
      }
      .margin1-middle-search__inp {
        width: 180px;
        font-size: 10px;
      }
      .margin1-middle-search__btn {
        width: 50px;
        height: 35px;
        font-size: 10px;
      }
    }
  }
  .breadcrumbs {
    padding: 20px 14vw;
  }
  .subscribe {
    .subscribe-frameleft {
      p {
        font-size: 12px;
      }
      h1 {
        font-size: 18px;
      }
    }
    .subscribe-frameright-framemiddle__inp {
      width: 236px;
      font-size: 11px;
    }
    .subscribe-frameright-framemiddle__btn {
      width: 100px;
      height: 44px;
      font-size: 12px;
    }
    .subscribe-frameright {
      gap: 15px;
    }
  }
  .footer {
    font-size: 12px;
    .footer-fotter-lists {
      display: flex;
      justify-content: space-between;
      padding: 0 4vw;
      align-items: center;
      h1 {
        font-size: 12px;
      }
    }
    .footer-fotter-lists-item {
      ul {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 880px) {
  .product {
    & .product-container {
      & .product-container-dropdown-container-name {
        h1 {
          width: 80px;
          font-size: 14px;
        }
      }
    }
  }
  .product {
    .product-top {
      .product-top-filter {
        padding-left: 10.5vw;
      }
    }
    .product-container {
      .product-container-items-prod-card {
        flex-direction: row;
      }
      .product-container-dropdown-container-allcateg__name {
        font-size: 10px;
      }
      .product-container-dropdown-container-allcateg__count {
        font-size: 8px;
      }
      .product-container-dropdown-container-allcateg {
        width: 10px;
        height: 10px;
      }

      .product-container-items-prod-card-frame-properties__img {
        width: 50px;
        height: 20px;
      }
      .product-container-items-prod-card-info {
        width: 100%;
        align-items: center;
        flex-direction: column;
      }
      .product-container-items-prod-card-frame-hover-frameheart {
        width: 20px;
        height: 20px;
      }
      .product-container-items-prod-card-frame-hover-frameview {
        width: 20px;
        height: 20px;
      }
      .product-container-dropdown-container-ranger-slider {
        width: auto;
        .product-container-dropdown-container {
          width: 200px;
          .product-container-dropdown-container-name {
            gap: 0px;
          }
        }
      }
    }
  }
  .margin1 {
    .margin1-navlinks {
      .margin1-navlinks-call {
        font-size: 10px;
      }
      .margin1-navlinks-links-ul-li {
        font-size: 12px;
        align-items: normal;
      }
      .margin1-navlinks-links-ul-li__img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 10px;
        width: 10px;
      }
    }
    .margin1-middle {
      .margin1-middle-frame__img {
        width: 80%;
      }
      .margin1-middle-search__inp {
        width: 180px;
        font-size: 10px;
      }
      .margin1-middle-search__btn {
        width: 50px;
        height: 35px;
        font-size: 10px;
      }
    }
  }
  .breadcrumbs {
    padding: 20px 14vw;
    .breadcrumbs-location {
      font-size: 10px;
    }
  }
  .subscribe {
    .subscribe-frameleft {
      p {
        font-size: 8px;
      }
      h1 {
        font-size: 14px;
      }
    }
    .subscribe-frameright-framemiddle__inp {
      width: 236px;
      font-size: 8px;
      padding: 5px 10px;
    }
    .subscribe-frameright-framemiddle__btn {
      width: 100px;
      height: 24px;
      font-size: 8px;
    }
    .subscribe-frameright {
      gap: 15px;
    }
    .subscribe-frameright-frameright__imgf {
      background-size: contain;
      width: 30px;
      height: 30px;
    }
    .subscribe-frameright-frameright__imgt {
      background-size: contain;
      width: 30px;
      height: 30px;
    }
    .subscribe-frameright-frameright__imgp {
      background-size: contain;
      width: 30px;
      height: 30px;
    }
    .subscribe-frameright-frameright__imgi {
      background-size: contain;
      width: 30px;
      height: 30px;
    }
  }
  .footer {
    .footer-fotter-company-frame__img {
      width: 60%;
    }
    font-size: 8px;
    .footer-fotter-lists {
      display: flex;
      justify-content: space-between;
      padding: 0 4vw;
      align-items: center;
      h1 {
        font-size: 10px;
      }
    }
    .footer-fotter-lists-item {
      ul {
        font-size: 8px;
      }
    }
    .footer-copyright {
      img {
        width: 30px;
        height: 20px;
      }
    }
  }
} */
